<section id="main" ng-controller="SetupPageController">
	<div ng-controller="ManualSetupChooseController" class="white-bg" ng-if="page === 'manual-setup' && path[3] === 'choose'">
		<div class="container thing-type-choose">
			<div layout="row">
				<div flex="35" class="bindings">
					<p>Bindings</p>
					<div class="binding fab-item" ng-repeat="binding in data.bindings" ng-click="setCurrentBindingId(binding.id)" ng-class="currentBindingId === binding.id ? 'active' : ''">
						<h3>{{binding.name}}</h3>
						<p>{{binding.id}} ({{binding.thingTypes.length}})</p>
					</div>
				</div>
				<div flex="65" class="thing-types">
					<p>Supported Things</p>
					<div ng-repeat="binding in data.bindings">
						<div ng-if="currentBindingId === binding.id" class="thing-type list-item clickable" ng-repeat="thingType in binding.thingTypes | filter:search" ng-click="navigateTo('manual-setup/configure/' + thingType.UID)">
							<h3>{{thingType.label}}</h3>
							<p>{{thingType.UID}}</p>
							<p>
								<small ng-bind-html="thingType.description"></small>
							</p>
							<hr class="border-line" ng-show="!$last" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="ManualSetupConfigureController" class="thing-configure white-bg" ng-if="page === 'manual-setup' && path[3] === 'configure'">
		<div class="header-toolbar">
			<md-button ng-click="navigateTo('manual-setup/choose')" aria-label="Close"> <i class="material-icons">close</i></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<div class="toolbar">
					<md-button title="Add" ng-click="addThing(thing)" ng-disabled="form.configForm.$invalid" class="md-fab" aria-label="Add Thing"> <i class="material-icons">check</i></md-button>
				</div>
			</div>
		</div>

		<div ng-include="'partials/include.thingconfig.html'"></div>
		<div class="container">
			<h3>Configuration Parameters</h3>
			<p>Configure parameters for the thing.</p>
			<div ng-init="form={}">
				<div ng-include="'partials/include.config.html'" onload="configuration=thing.configuration"></div>
			</div>
		</div>
	</div>
	<div ng-controller="InboxController" class="thing-add white-bg" ng-if="page === 'search' && !path[3]">
		<div class="header-toolbar">
			<md-button title="Scan" ng-click="showScanDialog($event)" aria-label="Scan"> <i class="material-icons">settings_input_antenna</i></md-button>
			<md-button ng-click="refresh()" aria-label="Refresh"> <i class="material-icons">refresh</i></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<div class="toolbar">
					<md-button class="md-fab" ng-click="navigateTo('setup/bindings')" aria-label="Add Thing"> <i class="material-icons">add</i></md-button>
				</div>
			</div>
		</div>
		<div class="container">
			<div ng-include="'partials/include.inbox.html'"></div>
			<div class="text-center" ng-if="data.discoveryResults.length == 0">
				<h3>Inbox is empty.</h3>
			</div>
			<hr />
			<p class="text-center">
				<span>Thing not listed?</span>
				<md-button title="Add Manually" class="md-button" ng-click="navigateTo('setup/bindings')">Search For Things</md-button>
			</p>
		</div>
	</div>
	<div ng-controller="SetupWizardBindingsController" class="white-bg" ng-if="page === 'setup' && path[3] === 'bindings'">
		<div class="section-header"></div>
		<div class="container selection-list">
			<div ng-repeat="binding in data.bindings" ng-click="selectBinding(binding.id)">
				<div layout="row">
					<div flex="90">
						<h3>{{binding.name}}</h3>
						<p ng-bind-html="binding.description"></p>
					</div>

					<div flex="10" layout="row" layout-align="end center">
						<i class="material-icons">chevron_right</i>
					</div>
				</div>
				<hr ng-show="!$last" />
			</div>
		</div>
	</div>
	<div ng-controller="SetupWizardSearchBindingController" class="white-bg" ng-if="page === 'setup' && path[3] === 'search' && path[4]">
		<div class="section-header">
			<div class="container">
				<div class="toolbar">
					<md-button class="md-fab" ng-click="scan(bindingId)" aria-label="Refresh" title="Refresh"> <i class="material-icons">refresh</i></md-button>
				</div>
			</div>
		</div>
		<div class="container">
			<div layout="row" layout-align="start center" ng-show="scanning" class="scan-indicator">
				<div>
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
				<div>
					<span>Searching for Things...</span>
				</div>
			</div>
			<div layout="row" layout-align="start center" ng-show="!scanning && discoverySupported">
				<div></div>
				<div>
					<span>
						Thing not found?
						<button class="md-button" ng-click="navigateTo('setup/thing-types/' + bindingId)">Manually Add Thing</button>
					</span>
				</div>
			</div>
			<div ng-show="!discoverySupported">
				<p class="text-center">
					Binding does not support discovery.
					<button class="md-button" ng-click="navigateTo('setup/thing-types/' + bindingId)">Manually Add Thing</button>
				</p>
			</div>
			<div ng-include="'partials/include.inbox.html'"></div>
			<hr />
			<p class="text-center">
				<span>Thing not listed?</span>
				<button class="md-button" ng-click="navigateTo('setup/thing-types/' + bindingId)">Add Manually</button>
			</p>
		</div>
	</div>
	<div ng-controller="SetupWizardThingTypesController" class="white-bg" ng-if="page === 'setup' && path[3] === 'thing-types'">
		<div class="section-header"></div>
		<div class="container selection-list">
			<div ng-repeat="thingType in data.thingTypes | filter:filter | orderBy:'label'" ng-click="selectThingType(thingType.UID)">
				<div layout="row">
					<div flex="90">
						<h3>{{thingType.label}}</h3>
						<p ng-bind-html="thingType.description"></p>
					</div>

					<div flex="10" layout="row" layout-align="end center">
						<i class="material-icons">chevron_right</i>
					</div>
				</div>
				<hr ng-show="!$last" />
			</div>
		</div>
	</div>
	<div ng-controller="ManualSetupConfigureController" class="thing-configure white-bg" ng-if="page === 'setup' && path[3] === 'add'">
		<div class="header-toolbar">
			<md-button ng-click="navigateTo('setup')" aria-label="Close"> <i class="material-icons">close</i></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<div class="toolbar">
					<md-button title="Add" ng-click="addThing(thing)" ng-disabled="form.configForm.$invalid" class="md-fab" aria-label="Add"> <i class="material-icons">check</i></md-button>
				</div>
			</div>
		</div>

		<div ng-include="'partials/include.thingconfig.html'"></div>
		<div class="container">
			<h3>Configuration Parameters</h3>
			<p>Configure parameters for the thing.</p>
			<div ng-init="form={}">
				<div ng-include="'partials/include.config.html'" onload="configuration=thing.configuration"></div>
			</div>
		</div>
	</div>
</section>
