
<!DOCTYPE html>
<!--

    Copyright (c) 2014-2015 openHAB UG (haftungsbeschraenkt) and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

-->
<html lang="en" ng-app="PaperUI">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Paper UI</title>

<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="css/angular-material.min.css" rel="stylesheet">

<!-- custom css files -->
<link type="text/css" href="css/components.css" rel="stylesheet">
<link type="text/css" href="css/layout.css" rel="stylesheet">
<link type="text/css" href="css/views.css" rel="stylesheet">
<link type="text/css" href="css/theme.css" rel="stylesheet">

<!-- Icons/Fonts -->
<link type="text/css" href="css/roboto-fontface.css" rel="stylesheet" media="all">
<link type="text/css" href="css/material-icons.css" rel="stylesheet" media="all">

<meta name="apple-mobile-web-app-capable" content="yes" />

</head>

<body ng-controller="BodyController">
	<div id="authentication" data-access-token="{{ACCESS_TOKEN}}"></div>
	<div ng-include="'partials/include.extension.html'"></div>
	<nav class="menu slide-menu-left" ng-controller="NavController">
		<div class="top clickable" ng-click="navigateToRoot()">
			<img id="logo" alt="Eclipse SmartHome Logo" src="img/logo.png" />
			<h1 class="title">SmartHome</h1>
		</div>
		<ul>
			<li ng-class="{active: isActive('control'), hidden: isHidden('control')}">
				<a href="#control">
					<span class="icon material-icons">dashboard</span>
					<span class="side-menu">Control</span>
				</a>
			</li>
			<li ng-class="{active: isActive('inbox')}">
				<a href="#inbox" class="clickable">
					<span class="icon material-icons">add_circle_outline</span>
					<span class="side-menu">Inbox</span>
					<span ng-show="getNumberOfNewDiscoveryResults() > 0" class="badge">{{getNumberOfNewDiscoveryResults()}}</span>
				</a>
			</li>
			<li ng-class="{active: isActive('configuration'), hidden: isHidden('configuration')}">
				<a ng-click="open('configuration')" class="clickable">
					<span class="icon material-icons">settings</span>
					<span class="side-menu">Configuration</span>
				</a>
				<ul ng-show="isActive('configuration')">
					<li ng-class="{active: isSubActive('bindings')}">
						<a href="#configuration/bindings">Bindings</a>
					</li>
					<li ng-class="{active: isSubActive('services')}">
						<a href="#configuration/services">Services</a>
					</li>
					<li ng-class="{active: isSubActive('things')}">
						<a href="#configuration/things">Things</a>
					</li>
				</ul>
			</li>
			<li ng-class="{active: isActive('extensions'), hidden: isHidden('extensions')}">
				<a href="#extensions">
					<span class="icon material-icons">extension</span>
					<span class="side-menu">Extensions</span>
				</a>
			</li>
			<li ng-class="{active: isActive('rules'), hidden: isHidden('rules')}">
				<a href="#rules">
					<span class="icon material-icons">movie_creation</span>
					<span class="side-menu">Rules</span>
				</a>
			</li>
			<li ng-class="{active: isActive('preferences'), hidden: isHidden('preferences')}">
				<a href="#preferences">
					<span class="icon material-icons">brightness_medium</span>
					<span class="side-menu">Preferences</span>
				</a>
			</li>
		</ul>
		<div class="bottom">
			<span>Paper UI</span>
		</div>
	</nav>

	<div id="wrapper">
		<header>
			<a href="#" class="open-menu">&#x2261;</a>
			<div class="title">
				<h1>
					{{title}}
					<span ng-repeat="subtitle in subtitles" class="subtitle">
						<span class="chevron material-icons">chevron_right</span>
						{{subtitle}}
					</span>
				</h1>
			</div>
		</header>

		<ng-view autoscroll="true"></ng-view>

		<footer> </footer>
	</div>

	<!-- lib js files -->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-bundle.min.js"></script>


	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- TODO: Create custom variant to save space -->
	<script src="js/tinycolor.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>

	<!-- TODO: Use angularized version? -->
	<script src="js/sprintf.min.js"></script>

	<!-- custom js files -->
	<script src="js/app.js"></script>
	<script src="js/constants.js"></script>
	<script src="js/services.min.js"></script>
	<script src="js/controllers.min.js"></script>
	<script src="js/extensions.js"></script>
	<script src="js/main.js"></script>
	<script src="js/shared.properties.js"></script>
</body>

</html>
